@import 'assets/styles/mixins.scss';

.share {
  background: var(--bg);
  padding: var(--spacing-xs3) var(--spacing-xs2);
  display: flex;
  align-items: center;
  width: fit-content;

  &__social {
    cursor: pointer;
    padding: var(--spacing-xs5) var(--spacing-xs4);
    margin-right: var(--spacing-xs4);
    border-radius: 3px;
    svg {
      width: 0.875em;
      height: 0.875em;
    }
    &:hover {
      background: var(--bgLighter);
    }
  }

  &__url {
    display: flex;
    &-icon {
      padding: var(--spacing-xs4) var(--spacing-xs4);
      cursor: pointer;
      border-radius: 3px;
      position: relative;
      &:hover {
        background: var(--bgLighter);
      }
    }
    svg {
      width: 0.875em;
      height: 0.875em;
    }

    input {
      margin-left: var(--spacing-xs3);
      background: var(--baseInverse);
      border: 1px solid var(--border);
      border-radius: 3px;
      color: var(--base);
      padding: var(--spacing-xs5) var(--spacing-xs4);
      max-width: 100px;
    }
  }

  &__social,
  &__url {
    svg {
      path {
        fill: var(--base);
      }
    }
  }
}
