@import "assets/styles/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-xs);
  @include box-shadow;
  &__top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__body {
    &__competences {
      margin: var(--spacing-xs2) 0;
      margin-bottom: 0;

      p {
        font-size: var(--size-xs);
        font-weight: 500;
        color: var(--base40);
        padding: 0;
        margin: 0;
      }

      &__list {
        margin: var(--spacing-xs4) 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .label {
          margin-right: var(--spacing-xs4);
          margin-bottom: var(--spacing-xs4);
        }
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin: var(--spacing-xs3) 0;

      p {
        margin: 0;
        padding: 0;
        margin-left: var(--spacing-xs4);
        font-weight: 500;

        span {
            color: var(--base40)
        }
      }
    }
  }
}
