@import 'assets/styles/mixins.scss';

.input {
  width: 100%;
  height: 100%;
  margin-bottom: var(--spacing-sm);

  &__head {
    display: flex;
    align-items: center;
    color: var(--base40);
    font-size: var(--size-xl2);

    &--icon {
      margin: 0 var(--spacing-xs4);
      color: var(--base40);
      font-size: var(--size-xs2);
      padding-top: 6px;
      svg {
        height: var(--size-xs2);
        width: var(--size-xs2);
      }
    }

    [title='title'] {
      font-size: var(--size-xl2);
      color: var(--primary);
      font-weight: var(--weight-semibold);
    }
  }

  &__note {
    font-size: var(--size-xs);
    color: var(--base40);
    padding-top: var(--spacing-xs4);
  }

  &__submit {
    display: inline-flex;
    align-items: center;
    &-description {
      margin-left: var(--spacing-xs3);
      margin-top: var(--spacing-xs);
      font-size: var(--size-xs2);
    }
  }

  &__input-text {
    width: 100%;
    border: 0;
    outline: none;
    font-weight: 500;
    font-size: var(--size-xl5);
    transition: box-shadow 0.2s ease 0s;
    padding-top: var(--spacing-xs2);

    &:not(:focus) {
      box-shadow: var(--border) 0px 1px;
    }

    &::-webkit-input-placeholder {
      font-weight: 600;
      color: var(--base60);
    }

    &:-ms-input-placeholder {
      font-weight: 600;
      color: var(--base60);
    }

    &::placeholder {
      font-weight: 600;
      color: var(--base60);
    }

    &__error-message {
      display: inline-flex;
      padding: var(--spacing-xs4);
      border-radius: 2px;
      color: var(--baseInverse);
      font-size: var(--size-xs);
      background-color: var(--red);
    }
    &--multiple {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  button.btn--action {
    margin-top: var(--spacing-xs);
  }

  &__dropdown-list {
    list-style-type: none;
    margin: 0  0 var(--spacing-xs) 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    @include custom-scrollbar;
    @include box-shadow;

    li {
      padding: var(--spacing-xs3) var(--spacing-xs2);
      cursor: pointer;
      color: var(--base);
      background-color: var(--base80);
      font-size: var(--size-s);
      transition: all 0.2s ease 0s;
      margin: 0;

      &:hover,
      &.selected {
        background-color: var(--bgPrimary);
        color: var(--baseInverse);
      }
      &:before {
        content: '';
      }
    }
  }

  &__dropdown {
    padding-top: var(--spacing-sm);
  }

  &__multiple {
    display: flex;
    align-items: center;
    padding-top: var(--spacing-xs);
    &>div{
      width: 100%;
    }
    .label {
      margin-right: var(--spacing-xs4);
    }
  }
}

.input-places {
  * {
    outline: none;
  }

  font-size: var(--size-xs);
  font-family: var(--font);
  color: var(--base);

  .css-1pahdxg-control {
    border: 1px solid #666 !important;
    box-shadow: none;
  }
  .css-26l3qy-menu {
    position: relative;
    z-index: 1000;
  }
}
