@import "assets/styles/mixins.scss";

.input {
  width: 100%;
  height: 100%;

  * {
    font-family: var(--red);
  }

  &__head {
    span {
      color: var(--base40);
      font-weight: normal;
      font-size: var(--size-xs2);
    }

    svg {
      height: 10px;
      width: 10px;
      transform: rotate(270deg);
      margin-right: var(--spacing-xs4);
      fill: var(--base40);
    }

    [title="title"] {
      font-size: var(--size-xs);
      color: var(--primary);
      font-weight: bold;
    }
  }

  &__input-text {
    width: 100%;
    border: 0;
    outline: none;
    font-weight: 500;
    font-size: var(--size-xl);
    margin-top: var(--spacing-xs4);
    border-bottom: 1px solid var(--border);

    &::-webkit-input-placeholder {
      font-weight: 600;
      color: var(--base60);
    }

    &:-ms-input-placeholder {
      font-weight: 600;
      color: var(--base60);
    }

    &::placeholder {
      font-weight: 600;
      color: var(--base60);
    }

    &--error {
      border-bottom: 1px solid var(--red);
    }

    &__error-message {
      color: var(--red);
      font-size: var(--size-xs);
    }
  }

  button {
    margin-top: var(--spacing-xs3);
  }

  &__dropdown-list {
    list-style-type: none;
    margin: var(--spacing-xs) 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    @include custom-scrollbar;
    @include box-shadow;

    li {
      padding: var(--spacing-xs3) var(--spacing-xs2);
      cursor: pointer;
      color: var(--base);
      background-color: var(--base80);
      font-size: var(--size-s);
      transition: all 0.2s ease 0s;
    
      &:hover, &.selected {
        background-color: var(--bgPrimary);
        color: var(--baseInverse);
      }
    }
  }

  &__multiple {
    display: flex;
    align-items: center;
  }
}
