@import "assets/styles/mixins.scss";

.avatar-form {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__notes {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .avatar {
    border: none;
    @include box-shadow;
  }
  font-family: var(--font);
  display:flex;
  justify-content: center;
  @include screen(md) {
    flex-direction: column-reverse;
  }
  &__avatar {
    @include screen(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
  }
  &__sliders {
    width: 200px;
    &--disabled {
      cursor: not-allowed;
    }
  }
  &__option {
    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  &__title {
    font-size: var(--size-xl3);
    font-weight: 600;
    padding-right: var(--spacing-xs);
  }
  &__label {
    span {
      font-weight: 600;
      padding-right: var(--spacing-xs4);
    }
  }
}