@import "assets/styles/mixins.scss";
@import "assets/styles/global.scss";

.label {
  width: fit-content;
  padding: 3px var(--spacing-xs3);
  border-radius: 5px;
  display: flex;
  align-items: center;

  span {
    font-size: var(--size-xs2);
    text-transform: uppercase;
    margin-right: var(--spacing-xs4);
  }

  svg {
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 10px;
    height: 10px;
    fill: var(--baseInverse);
  }
}
