.btn {
  &--action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &:hover {
      .btn__icon {
        transform: translateX(2px);
      }
    }
  }
  &__icon {
    transition: all 0.2s ease;
    padding-left: var(--spacing-xs5);
  }
}