@import "assets/styles/mixins.scss";

button {
  @include button;
  .btn--primary,
  &.btn--primary {
    @include button--primary;
  }
  .btn--secondary,
  &.btn--secondary {
    @include button--secondary;
  }
  a {
    color: inherit;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--bgLighter);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}