@mixin box-shadow {
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@mixin button {
  cursor: pointer;
  border-radius: var(--borderRadius);
  color: var(--base);
  background-color: var(--base80);
  flex: 0 0 auto;
  font-size: var(--size-s);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  align-items: center;
  padding: var(--spacing-xs3);
  border: 2px solid var(--border20);
  transition: all 0.2s ease 0s;
  .btn__icon {
    color: var(--base);
    margin-left: var(--spacing-xs3);
  }

  &:hover,&:focus {
    background-color: var(--bgPrimary);
    border: 2px solid var(--bgPrimary);
    color: var(--baseInverse);
    .btn__icon {
      color: var(--baseInverse);
    }
  }

  &.btn--small {
    font-size: var(--size-xs);
    padding: var(--spacing-xs4);
  }

  &.btn--disabled {
    cursor: not-allowed;
    color: var(--base60);
    border: 2px solid var(--bg);
    background-color: var(--bg);
    pointer-events: none;
    &:hover,&:focus {
      color: var(--base60);
      border: 2px solid var(--bg);
      background-color: var(--bg);
    }
  }
}

@mixin button--primary {
  @include button;
  background-color: var(--bgPrimary);
  border: 2px solid var(--bgPrimary);
  color: var(--baseInverse);
  .btn__icon {
    color: var(--baseInverse);
  }
  &:hover,&:focus {
    background-color: var(--bg);
    border: 2px solid var(--bgPrimary);
    color: var(--base);
    .btn__icon {
      color: var(--base);
    }
  }
}

@mixin button--secondary {
  @include button;
  color: var(--base40);
  width: 100%;
}

@mixin radio-button {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 18px;
    display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    border: 1px solid var(--primary);
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 6px;
    height: 6px;
    background: var(--primary);
    position: absolute;
    top: 6px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

$breakpoints: (
  xs:0,
  sm: 576px,
  md: 768px,
  lg: 993px,
  xl: 1920px
);

/*
  @include screen(md){
    // estilos para ecras inferiores a md
  }
*/

@mixin screen($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}