@import "assets/styles/global.scss";

.filter {
  display: flex;
  * {
    font-family: var(--font);
  }

  &__button {
    padding: 1rem calc(1rem - 5px) 1rem 1rem;
    border: 0;
    border-radius: var(--borderRadius);
    background-color: var(--bg);
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: fit-content;
    @include box-shadow;
    border-left: 5px solid var(--bg);
    padding-left: calc(1rem - 5px);

    &:hover {
      background: var(--bg);
      border: 0;
      border-left: 5px solid var(--primary);
      color: var(--base);
      .filter__arrow {
        transform: translateX(2px);
      }
    }
    &--active {
      border-left: 5px solid var(--primary);
    }

    svg {
      height: 20px;
      width: 20px;
      margin-left: 20px;
    }

    &__label {
      display: flex;
      flex-direction: column;
      align-items: start;

      [title='title'] {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--primary);
        margin: 0;
        margin-bottom: 3px;
        padding: 0;
      }

      [title='desc'] {
        font-size: 0.8rem;
        font-weight: normal;
        text-transform: none;
        margin: 0;
        padding: 0;
        color: var(--base);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--bg);
    @include box-shadow;

    &__head {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      border-bottom: 1px solid var(--border);
    }

    &__scrollable {
      @include custom-scrollbar;
      overflow-y: auto;
      max-height: 130px;
    }

    &__item {
      font-size: 0.8rem;
      font-weight: normal;
    }

    &__item,
    &__head {
      display: flex;
      align-items: center;
      padding: 0.8rem;
      cursor: pointer;

      @include radio-button;

      [type="radio"] {
        margin-right: 8px;
      }

      svg {
        margin-right: 8px;
        height: 15px;
        width: 15px;
      }

      &--selected {
        color: var(--bg);
        background: var(--primary);
      }
    }

    input {
      border: 0;
      padding: 1rem;
      outline: none;
      cursor: text;
      color: var(--primary);

      &:hover {
        background: transparent;
        color: var(--primary);
      }
    }
  }
  &__arrow {
    transition: transform 0.2s ease;
  }
}
