.person-header {
  * {
    font-family: var(--font);
  }

  display: flex;
  align-items: center;

  &__block {
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing-xs3);

    p {
        margin: 0;
        padding: 0;
    }

    &__title {
        font-size: var(--size-base);
        font-weight: 600;
        color: var(--base);
    }

    &__desc {
        font-size: var(--size-xs);
        color: var(--base40);
    }
  }
}
