.avatar {
    border-radius: 50%;
    object-fit: cover;

    &--sm {
        height: 45px;
        width: 45px;
    }

    &--md {
        height: 60px;
        width: 60px;
    }

    &--lg {
        height: 100px;
        width: 100px;
    }
}