@import "assets/styles/mixins.scss";

@mixin description {
  margin-top: var(--spacing-xs);
  display: flex;
  @include screen(md) {
    margin-bottom: 0;
    margin-top: var(--spacing-xs3);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 70px;
  @include screen(md) {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xs);
  }
  h1 {
    margin: 0;
  }
  &__description {
    @include description;
    &--action {
      display: flex;
      @include screen(md) {
        margin-bottom: var(--spacing-xs2);
        flex-direction: column;
      }
      p {
        margin-right: var(--spacing-xs);
        @include screen(md) {
          margin-right: 0;
          margin-top: 0 !important;
        }
      }
    }

    &--profile {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }
}

main {
  .form-fullscreen {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}